/* Reset básico e definições globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #d420c5;
  --color-primary-light: #f30505;
  --color-text-banner: white;
  --gradient-primary: linear-gradient(100deg, #d420c5 0%, #f30505);
  --gradient-accent: linear-gradient(to right, #f30505, #d420c5);
}

body {
  font-family: 'Co Headline', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

p {
  max-width: 70%;;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#menu-superior {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
}

#menu-superior li {
  margin: 0 15px;
}

#menu-superior button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  /* Adicionando transição para o fundo */
  font-family: 'Co Headline', sans-serif;
}

#menu-superior button:hover {
  color: var(--color-primary);
  /* Muda a cor do texto ao passar o mouse */
}

.corpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  background-color: #f0f0f0;
  padding-left: 20px;
  height: 100vh;
  overflow: auto;
  text-align: center;
}

#missao-visao-valores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.col-mvv {
  flex: 1;
  min-height: 600px;
  margin: 10px;
  background: var(--gradient-primary);
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 5px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-corpo {
  font-size: 2rem;
  color: var(--color-primary-light);
  text-align: center;
  margin-top: 20px;
}

.services-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
}

.titulo-services {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}

.titulo-services {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}

.lista-services {
  list-style: none;
  background: var(--gradient-primary);
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 1rem;
}

.lista-services li {
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  /*Largura fixa para os itens*/
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
}

#benefits {
  background-color: #1c1c1c;
  color: white;
  border-radius: 15px;
}

.benefits-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.benefit-item {
  font-size: 1rem;
  width: 400px;
  height: 350px;
  margin: 10px;
  border: #f0f0f0 1px solid;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  flex: 1;
  min-width: 200px;
}

#benefit-1 {
  font-size: .85rem;
}

.btn-simulador {
  background: var(--gradient-primary);
  color: var(--color-text-banner);
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#btn-services a {
  color: var(--color-text-banner);
  text-decoration: none;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background: var(--gradient-primary);
}

#form input {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#form textarea {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#form button {
  background: var(--gradient-accent);
  color: var(--color-text-banner);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#contato {
  background-color: #1c1c1c;
  color: white;
  border-radius: 15px;
}

/* Estilos do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
    animation: modalopen 0.5s;
}

@keyframes modalopen {
    from {opacity: 0; transform: translateY(-50px);}
    to {opacity: 1; transform: translateY(0);}
}

.close-modal {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #aaa;
}

.close-modal:hover {
    color: #000;
}

textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    resize: vertical;
    min-height: 100px;
    font-family: inherit;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  /* Cor de fundo suave */
  padding: 10px;
  font-size: 0.8rem;
}

/* Responsividade */
@media (max-width: 768px) {
  #menu-superior {
    font-size: 1rem;
    align-items: center;
    padding-left: 3px;
    /* Reduzindo o padding para telas menores */
  }

  #menu-superior li {
    margin: 0.3rem;
  }

  #menu-superior button {
    font-size: 0.6rem;
    /* Reduzindo o tamanho da fonte para telas menores */
  }

  #logo-precisao {
    width: 100px;
    /* Ajuste para telas menores */
    height: auto;
    padding-right: 5px;
  }

  #header {
    padding: 10px 15px;
    /* Reduzindo o padding esquerdo para telas menores */
    width: 100%;
  }

  .corpo {
    padding-left: 10px;
    /* Reduzindo o padding para telas menores */
  }

  .services-container {
    display: grid;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 10px 0;
  }

  .lista-services li {
    padding-bottom: 10px;
    border-radius: 5px;
    width: 200px;
    /*Largura fixa para os itens*/
    transition: transform 0.3s, background-color 0.3s;
    margin: 0;
  }

  .lista-services {
    display: grid;
    align-items: center;
    margin-left: 1.5rem;
    gap: 10px;
    /* Espaçamento entre os itens */
    padding: 0;
    /* Remove o padding para evitar espaçamento extra */
  }

  #missao-visao-valores {
    flex-direction: column;
    /* Muda a direção para coluna em telas menores */
    align-items: center;
    /* Centraliza os itens */
    padding: 0px;
    width: 80%;
    /* Largura total em telas menores */

    .col-mvv {
      max-width: 400px;
      /* Limita a largura máxima */
      margin: 5px 0;
      /* Margem vertical para espaçamento */
    }
  }

  .benefits-container {
    flex-direction: column;
    /* Muda a direção para coluna em telas menores */
    align-items: center;
    /* Centraliza os itens */
    padding: 0px;
    width: 75%;
    /* Largura total em telas menores */
  }

  .benefit-item {
    width: 100%;
    /* Largura total em telas menores */
    max-width: 400px;
    /* Limita a largura máxima */
    margin: 10px 0;
    /* Margem vertical para espaçamento */
  }

  #btn-simulador-formulario {
    margin-bottom: 30px;
  }
}